body,html{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    padding: 0;
}


.site-footer .footer-links {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    margin-left: 40px;
    padding: 0;
}

.site-footer .footer-links ul {
    list-style: none; /* Ensure no bullets are displayed */
    padding: 0; /* Remove default padding from list */
    margin-right:20px; /* Remove default margin from list */
    flex-direction:column; /* Add this to display vertically */
    height: 100px; /* Add this to make the ul take full height */
}

.site-footer .footer-links li {
    margin-bottom: 20px; /* Add some margin between list items */
}

.site-footer .footer-links a {
    margin-right: 20px;
    color: #768080;
    text-decoration: none;
}

.site-footer .footer-links a:hover {
    text-decoration: underline;
    color: #768080;
}

.site-footer .service-code {
    margin-left: 40px;
    margin-bottom: 1.5rem;
}

.site-footer .service-code button {
    background-color: transparent;
    border: 1px solid #768080;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #768080;
    font-size:13px;
    text-decoration: none; 
    
}

.site-footer .service-code button:hover {
    color: white; /* Change text color to white on hover */
    
}

.site-footer .service-code button:hover a {
    text-decoration: none; /* Ensure no underline on hover for button text */
}

.site-footer p {
    margin-top: 10px;
    margin-left: 40px;
    font-size: x-small;
    color: #768080;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .site-footer .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
.site-footer .social-media{
    margin-left: 40px;
    display: flex;
   gap: 30px;
}