/* Default navbar style */
.mainheaderContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navbar style when scrolled */
.mainheaderContainer.scrolled {
  background-color: black;
}

.content {
  display: flex;
  margin-top: 19px;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.headerlinks {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rightcontent {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 49px;
}

.rightlogo {
  border-radius: 3px;
}

a {
  color: white; /* Default text color */
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #768080; /* Change color to #768080 on hover */
  text-decoration: none; /* Ensure no underline on hover */
}

.rigthusercontent {
  position: absolute;
  top: 40px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: #f7f7f7;
}

.dropdowniocn {
  margin-top: 6px;
  margin-left: -5px;
}